/*Big screens to 1500px width */

@media only screen and (max-width:1500px){
   
    .hey-you > div p {
        font-size: 18px;
    }
    
}

@media only screen and (max-width:1200px){
    
    .hey-you > div p {
        font-size: 16px;
    }

}

@media only screen and (max-width:800px){
    .box-name h2 {
        font-size: 35px;
    }
    
    .hey-you > div p {
        font-size: 10px;
    }
    
    .about {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 40px;
        color: #000;
    }
}

@media only screen and (max-device-width:650px){
    .box-name h2 {
        font-size: 35px;
    }
    
    .hey-you > div p {
        font-size: 14px;
    }
    
    .population {
        margin-top: 60px;
    }
    
    .about {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 40px;
        color: #000;
        word-wrap: break-word;
        font-size: 14px;
        font-stretch: expanded;
        line-height: 45px;
    }
    
    .city__close:link,
    .city__close:visited {
        font-size: 80px;
        top: 28px;
        right: 38px;
    }
    
}