
*{
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 0;
}

body {
    background-color: #162545;
    font: 16px;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 10vh 90vh;
}

.box-name {
    position: relative;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.box-name h2 {
    font-size: 45px;
    color: #AE1C28;
    text-transform: uppercase;
    text-align: center;
    animation: intro 4s forwards ease-in, introPlus 2.5s infinite;
    letter-spacing: 7px;
    position: absolute;
}

.blabla{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.hey-you {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hey-you > div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.hey-you > div p {
    font-size: 21px;
    transition: all 8s;
}

/* First group */
.hey-you > div:nth-child(odd) p:nth-child(odd) {
    width: 25%;
    text-align: center;
    animation: moveDiagonalRightBoottom 5s ease-in;
    color: red;
}

.hey-you > div:nth-child(odd) p:nth-child(odd) a:link,
.hey-you > div:nth-child(odd) p:nth-child(odd) a:visited{
    width: 25%;
    text-align: center;
    animation: moveDiagonalRightBoottom 5s ease-in;
    color: inherit;
    text-decoration: none;
}

/* Second group */
.hey-you > div:nth-child(even) p:nth-child(even){
    width: 25%;
    text-align: center;
    animation: moveDiagonalRightTop 5s ease-in;
}

.hey-you > div:nth-child(even) p:nth-child(even) a:link,
.hey-you > div:nth-child(even) p:nth-child(even) a:visited {
    width: 25%;
    text-align: center;
    color: inherit;
    animation: moveDiagonalRightTop 5s ease-in;
    text-decoration: none;
}

/* Thirth group */
.hey-you > div:nth-child(even) p:nth-child(odd){
    width: 25%;
    text-align: center;
    animation: moveDiagonalLeftBottom 5s ease-in;
    color: red;
}

.hey-you > div:nth-child(even) p:nth-child(odd) a:link,
.hey-you > div:nth-child(even) p:nth-child(odd) a:visited {
    width: 25%;
    text-align: center;
    color: inherit;
    animation: moveDiagonalLeftBottom 5s ease-in;
    text-decoration: none;
}

/* Fourth group */
.hey-you > div:nth-child(odd) p:nth-child(even){
    width: 25%;
    text-align: center;
    animation: moveDiagonalLeftTop 5s ease-in;
}

.hey-you > div:nth-child(odd) p:nth-child(even) a:link,
.hey-you > div:nth-child(odd) p:nth-child(even) a:visited {
    width: 25%;
    text-align: center;
    color: inherit;
    animation: moveDiagonalLeftTop 5s ease-in;
    text-decoration: none;
}



/* HOVER */

.hey-you > div:nth-child(odd) p:nth-child(odd):hover{
    color: #fff;
    transition: all .1s;
}

.hey-you > div:nth-child(even) p:nth-child(odd):hover{
    color: #fff;
    transition: all .1s;
}

.hey-you > div:nth-child(even) p:nth-child(even):hover{
    color: red;
    transition: all .1s;
}

.hey-you > div:nth-child(odd) p:nth-child(even):hover{
    color: red;
    transition: all .1s;
}



p {
    color: #fff;
    letter-spacing: 4.5px;
}

/* Cities info */

.cities__info {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .85);
    z-index: 1000;
    visibility: hidden;
    transition: all .3s;
    overflow-x: hidden;
    overflow-y: auto;
    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, .3);
    }
}

.cities__info:target {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.cities__info::-webkit-scrollbar {
    width: 10px;
}
.cities__info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #162545;
    
}
.cities__info::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    
}

.cities__info::-webkit-scrollbar-thumb {
    background: #162545;
    width: 10px;
}

.city__close--white {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 5vw;
    position: absolute;
}

.city__close--white:link,
.city__close--white:visited {
    color: #efefef;
    right: 0;
    text-decoration: none;
    transition: all .2s;
}

.city__close--white:hover {
    color: red;
    transform: scale(1.4);
}

.city__close:link,
.city__close:visited {
    color: #2c2c2c;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 60px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    z-index: 100000;
}

.city__close:hover {
    color: red;
    transform: scale(1.4);
}

.cityName {
    text-align: center;
    color: #162545;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
}

.population {
    margin-left: 10%;
    margin-bottom: 60px;
    color: #000;
}
.about {
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 40px;
    color: #000;
}

.links {
    margin-left: 10%;
}

.cities__info span {
    color: #AE1C28;
}

.webLinks:link,
.webLinks:visited {
    color: #000;
    text-decoration: none;
}

.webLinks:hover {
    transition: all .2s;
    color: red;
    transform: scale(1.4);
}

.photo__gallery {
    position: relative;
    width: 100vw;
    height: 235px;
    margin-bottom: 40px;
    border-top: 10px solid #162545;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #AE1C28;
}


.photo__gallery::-webkit-scrollbar {
    height: 10px;
}
.photo__gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #162545;
    
}
.photo__gallery::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    
}

.photo__gallery::-webkit-scrollbar-thumb {
    background: #162545;
}

.photo__gallery > img:last-child {
    margin-right: 30px;
}


.profilPhoto {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    background-size: cover;
    object-fit: cover;
    transition: all .3s;
    justify-content: flex-start;
    border: 2px solid #fff;
    border-radius: 2px;
}

.profilPhoto:hover {
    opacity: 0.95;
    cursor: pointer;
    transform: scale(1.1);
}

.openPicture {
    background-color: rgba(0, 0, 0, .85);
    z-index: 100000;
    visibility: hidden;
    transition: all .3s;
    grid-template-rows: 5vh 95vh;
    grid-template-columns: 90vw 10vw;
    position: absolute;
    width: 100%;
    height: 100%;
}

.openPicture:target {
    opacity: 1;
    visibility: visible;
}

.img__content {
    grid-row: 2/3;
    grid-column: 1/2;
    position: absolute;
    top:50%;
    left: 50%;
    width: auto;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0, .2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
}

.openPicture:target .img__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.img__full {
    object-fit: cover;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/************************************************************************************************************************/
/**************************************************** ANIMATION *********************************************************/
/************************************************************************************************************************/

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes moveDiagonalRightBoottom {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    16% { 
        transform: translate(300px, 300px);
        opacity: 1;
        text-shadow: -10px 5px 4px #FF6EC7;
        color: #fff;
    }

    32% {
        transform: translate(150px, 150px) rotate(180deg);
        text-shadow: none;
        color: red;
    }
    46% {
        transform: rotate(270deg);
        text-shadow: -10px 5px 4px #FF6EC7;
        color: #fff;
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
        color: red;
        text-shadow: none;
    }
    60%{
        color: #fff;
        transform: rotate(0deg);
    }
    75%{
        color: red;
    }
    90%{
        color: #fff;
    }
    100%{
        color: red;
    }
    
}

@keyframes moveDiagonalRightTop {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    16% { 
        transform: translate(300px, -300px);
        opacity: 1;
        text-shadow: -10px 5px 4px #FF6EC7;
        color: red;
    }

    32% {
        transform: translate(150px, -150px) rotate(-180deg);
        text-shadow: none;
        color: #fff;
    }
    46% {
        transform: rotate(270deg);
        text-shadow: -10px 5px 4px #FF6EC7;
        color: red;
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
        color: #fff;
        text-shadow: none;
    }
    60%{
        color: red;
        transform: rotate(0deg);
    }
    75%{
        color: #fff;
    }
    90%{
        color: red;
    }
    100%{
        color: #fff;
    }
    
}
@keyframes moveDiagonalLeftBottom {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    16% { 
        transform: translate(-300px, 300px);
        opacity: 1;
        text-shadow: 10px 5px 4px #FF6EC7;
        color: #fff;
    }

    32% {
        transform: translate(-150px, 150px) rotate(-180deg);
        text-shadow: none;
        color: red;
    }
    46% {
        transform: rotate(270deg);
        text-shadow: 10px 5px 4px #FF6EC7;
        color: #fff;
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
        color: red;
        text-shadow: none;
    }
    60%{
        color: #fff;
        transform: rotate(0deg);
        
    }
    75%{
        color: red;
    }
    90%{
        color: #fff;
    }
    100%{
        color: red;
    }
    
}

@keyframes moveDiagonalLeftTop {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    16% { 
        text-shadow: 10px 5px 4px #FF6EC7;
        transform: translate(-300px, -300px);
        opacity: 1;
        color: red;
    }
    32% {
        transform: translate(-150px, -150px) rotate(180deg);
        text-shadow: none;
        color: #fff;
    }
    46% {
        text-shadow: 10px 5px 4px #FF6EC7;
        transform: rotate(270deg);
        color: red;
        
    }
    50% {
        transform: translate(0px, 0px) rotate(180);
        color: #fff;
        text-shadow: none;
    }
    60%{
        color: red;
        transform: rotate(0deg);
    }
    75%{
        color: #fff;
    }
    90%{
        color: red;
    }
    100%{
        color: #fff;
    }
    
}
@keyframes intro {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    55% {
        text-shadow: 0px 0px 8px #FF6EC7;
    }
    60% {
        text-shadow: none;
    }
    65% {
        text-shadow: 0px 0px 8px #FF6EC7;
    }
    70% {
        text-shadow: none;
    }
    80% {
        text-shadow: 0px 0px 8px #FF6EC7;
    }
    90% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 0px 15px #FF6EC7;
    }
}

@keyframes introPlus {
    0% {
        text-shadow: none;
    }
    33% {
        text-shadow: 0px 0px 8px #FF6EC7;
    }
    66% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 0px 15px #FF6EC7;
    }
}